@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  @apply w-full h-full mx-auto max-w-md px-2 md:px-8;
}

.btn-primary {
  @apply bg-blue-primary rounded-xl text-white py-3 px-6 transition-all duration-300 hover:bg-blue-dark;
}

.btn-secondary {
  @apply bg-white border-2 border-gray-light rounded-xl text-gray-light py-3 px-6 transition-all duration-300;
}

nav li {
  @apply text-gray-light;
}
nav a {
  @apply transition-all duration-300 hover:text-blue-primary;
}

.active {
  @apply text-blue-primary;
}

.skill-item {
  @apply bg-blue-primary/20 text-blue-primary text-sm py-2 px-3 rounded-lg;
}

.work-item {
  @apply w-full h-80 rounded-lg;
}
